table, td {
    padding: 15px;
    border-collapse: collapse;
    
}

thead {
    background-color: #00c3e3;
    border: 2px solid black;
    color:  #414548;
}
tbody {
    border: 2px solid black;
    background-color: #ff4554;
    
}

td {
    font-size: 24px;
}

table {
    margin: 0 auto ;
}

.lab {
    color: white;
}

h1.seperate{
    color: black;
}

h3 {
    color: black;
}

.biggo {
    width: 280px;
    height: 45px;
    background-color: #00c3e3;
    color: #414548;
    font-size: 18px;
  }
  .biggo2 {
    width: 180px;
    height: 45px;
    background-color: #ff4554;
    color: white;
    font-size: 18px;
  }

  .imgSize {
    max-width: 50%;
    max-height: 50%;
    height: 315px;
}
  
