.card-like {
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 25vw;
    margin: 25vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: black;
}